@model WebApiIdentity.Models.StringViewModel
<div class="modal-content">
    <div class="modal-header">
        <h4>Вы действительно хотите удалить?</h4>
    </div>
    <div class="modal-body">
        <table>
            <tr>
                <td>
                    @Html.ActionLink("Удалить", "DeleteClass", "Admin", new { classId = Model.str }, new { @class = "btn btn-danger" })
                </td>
                <td>
                    <button class="close, btn btn-primary" data-dismiss="modal" area-hidden="true">Закрыть</button>
                </td>
            </tr>
        </table>
    </div>
</div>

